html,
body {
    margin: 0;
    padding: 0;
}

body {
    /*background colors can be changed as much as needed below */
    /*background: #31102F radial-gradient(ellipse at center, #31102f 0%, #280b29 100%);*/
    background: #31102F radial-gradient(ellipse at center, #31102f 0%, #5b9e7d 100%);
}

#stars {
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}